@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02', 'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}

b,
strong {
  font-variation-settings: 'wght' 680;
}

h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 600;
}

h2 {
  font-variation-settings: 'wght' 650;
  letter-spacing: -0.024em;
}

h1 {
  font-variation-settings: 'wght' 700;
}

.post-item {
  margin-bottom: 3rem;
}

.post-item h3 {
  margin-bottom: 0.5rem;
}

.post-item .post-item-desc {
  color: #718096;
}

.post-item .post-item-date {
  color: #b9bfcc;
}

article.prose {
  color: #313233;
  font-variation-settings: 'wght' 450;
}

article.md\:prose h1 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

article.prose code::before,
article.prose code::after {
  content: none;
}

article.prose code {
  font-size: 0.95em;
  padding: 0 0.1em;
}

article.prose a {
  word-break: break-word;
  color: #748094;
}

article.prose a[target='_blank'] {
  background: transparent
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 24 24" width="0.7em" height="0.7em" stroke="currentColor" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision" style="color: gray"><path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path><path d="M15 3h6v6"></path><path d="M10 14L21 3"></path></svg>')
    no-repeat center right;
  padding-right: 0.9em;
}

@media screen and (max-width: 480px) {
  article {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

@media screen and (min-device-pixel-ratio: 1.5), screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.vercel-icon {
  font-family: sans-serif;
}

article.prose pre {
  background-color: #f7f7f7 !important;
  letter-spacing: 0;
  font-size: 0.95rem;
}

article.prose pre code {
  display: inline-block;
  padding: 0;
  width: 100%;
}

article.prose p > code {
  font-size: 0.9em;
  border-radius: 0.25rem;
  background-color: #e7ebef;
  font-weight: normal;
  padding: 0.2em;
}

.contains-task-list {
  margin-left: 0;
  list-style-type: none;
}

.task-list-item {
  padding-left: 0 !important;
  margin: 0;
  height: 1.9em;
}

.task-list-item > input {
  margin-right: 0.55em;
}

.task-list-item::before {
  display: none !important;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
